
.idea/
*.iml

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

nb-configuration.xml


*.class


*.log
*.stacktrace


*.jar
*.war
*.ear
*.nar


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


keys/
*.pem
*.key
*.crt

application.yml
!application-sample.yml   # если есть файл-образец

*.db
*.mv.db
*.h2.db

# Other
*.bak
*.orig
*~